
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  text-align: center;
  background-color: ghostwhite;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Calisto MT", "Times New Roman", serif;
  font-size: 16px;
  letter-spacing: 1px;
}

div {
  padding: 10px
}

hr {
  padding-bottom: 3px;
  margin-bottom: 10px;
}

button {
  margin: 10px;
}

input {
  visibility: hidden;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

li {
  list-style: none;
}

@media all and (min-width: 800px) {

  /* <-- flexbox --> */

  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .group-grid {
    display: grid;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    max-width: 80%;
  }

  .group-awards {
    display: grid;
    margin: 0 auto;
    max-width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    flex: 1;
  }

  .hide-hr {
    display: none;
  }

}